* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #000;
}

:root {
    --x: 400px;
    --y: 400px;
}
body{
background-image: url(./hendrik-cornelissen--qrcOR33ErA-unsplash.jpg);
}

.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(
        150px at var(--x) var(--y),
        rgba(255, 255, 255, 0),
        rgba(0, 0, 0, 1)
    );
}
